#menu{
      
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 80%;
    /* border: 1px solid red; */
    gap: 20px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    color: white;
    margin-bottom: 40px;
  }
  #divimg>img{
    /* border: 2px solid green; */
    height:200px;
    width: 100%;

  }
  #box{
    margin-top: 30px;
    /* border: 1px solid blue; */
  }
  
  body{
      background-color: rgb(5, 5, 20);
  }
  button{
      cursor: pointer;
      border-radius: 10px;
  }
  #total_amount{
      color: white;
      margin-left: 50px;
      font-size: 30px;
  }
  #confirm_checkout{
    font-size: 30px;
    margin-left: 50px;
  }